:root {
  --color-white: #fff;
  --color-red: #e63636;
  --color-dark1: #181818;
  --color-dark2: #1e1e1e;
  --color-purple1: #9333ff;
  --color-purple2: indigo;
}

* body {
  font-family: "Outfit";
  background-color: var(--color-dark1);
  color: var(--color-white);
  display: block;
  justify-content: center;
  align-items: center;
}

#sectionFormulario {
  background-color: var(--color-dark2);
  padding: 2rem;
  border-radius: 0.9rem;
  min-width: 50%;
  overflow: auto;
  margin-top: 2rem;
}
#titulo {
  margin-bottom: 1rem;
  text-align: center;
}
#url {
  margin-bottom: 1rem;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}

.requerimento {
  display: none;
  font-size: 0.9rem;
  margin: 3px 0 0 1px;
  color: var(--color-red);
}

input {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-dark1);
  border: 2px solid var(--color-dark1);
  color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
}

input:focus {
  border-color: var(--color-purple1);
}

textarea {
  padding: 8px 5px;
  outline: none;
  border-radius: 5px;
  background-color: var(--color-dark1);
  border: 2px solid var(--color-dark1);
  color: var(--color-white);
  width: 100%;
  box-sizing: border-box;
  transition: 0.3s;
  resize: none;
}

[type="submit"] {
  padding: 1rem;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: var(--color-purple2);
  color: var(--color-white);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
[type="submit"]:hover {
  background-color: var(--color-purple1);
}

/*Cards*/
#paiCards {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  justify-content: center;
  gap: 1rem;
}

.card {
  background-color: var(--color-dark2);
  margin-top: 10px;
  border-radius: 13px;
  margin-bottom: 32px;
  text-align: center;
  padding: 10px 20px;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media screen and (max-width: 320px) {
  from {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  #sectionFormulario {
    background-color: var(--color-dardk2);
    padding: 2rem;
    border-radius: 10px;
    min-width: 10%;
    overflow: auto;
  }
  #paiCards {
    display: flex;
    flex-direction: column;
  }
}

::placeholder {
  text-align: left;
}

@media screen and (max-width: 620px) {
  #paiCards {
    display: flex;
    flex-direction: column;
  }
}
